.calendar {
    width: 100%;
    background: #fff;
}


.calendar-row {
    width: 100%;
    display: flex;
    max-width: 100%;
    min-width: 100%;
}


.calendar-row-cell {
    width: calc(100% / 7);
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    height: var(--cellHeight, 50px);
}

.calendar-row-cell-rect {
    box-sizing: border-box;
    outline: 1px solid #f1f1f1;
    outline-offset: -2px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.calendar-row-cell-noMonth {
    color: #9999998a;
}

.calendar-row-cell-month {
    color: #333;
}


.calendar-week {
    width: 100%;
    display: flex;
}

.calendar-week-item {
    width: calc(100% / 7);
    text-align: center;
}

.calendar-week-item-cell {
    box-sizing: border-box;
    border-top: 1px solid #fafafa1a;
    border-bottom: 1px solid #fafafa1a;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar-layer {
    --cellHeight: initial;
    --tableHeight: initial;
    --hideTableHeight: initial;

    --height:var(--tableHeight, auto);
    --top:0;
    --transition:all .3s ease-in-out;

    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
}

.calendar-table {
    width: 100%;
}

.open {
    --top:0 !important;
    --height:var(--tableHeight) !important;
    transition:var(--transition);
}

.close {
    --tableHeight: var(--cellHeight) !important;
    --top: var(--hideTableHeight) !important;
    transition:var(--transition);
}

.toggle{
    height: var(--height);
}
.toggle .calendar-table{
    position: absolute;
    top: var(--top);
}

.open .calendar-table,
.close .calendar-table{
    transition:var(--transition);
    top: var(--top);
}

.calendar-row-open {
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
}
.calendar-row-open .calendar-row-cell-rect {
    outline-color: #1677ff;
}

