.buts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buts button{
    margin: 4px 10px;
    background: skyblue;
    border: none;
    outline: none;
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}
.custom-day{
    outline: 1px solid #1677ff1a;
    outline-offset: -2px;
    height: 100%;
}
.custom-day-active{
    background: #1677ff1a;
}
.custom-day-title{
    color: #333;
}
.custom-day-task{
    color:#1677ff;
    font-weight: 600;
    font-size: 12px;
}
.main{
    width:1000px;
    margin:40px auto 0;
}
.custom-week{
    height: 50px;
    background: #1677ff1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
